:root {
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Normalize reset */
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}
pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}
b, strong {
    font-weight: bolder;
}
code, kbd, samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}
button, input {
    /* 1 */
    overflow: visible;
}
button, select {
    /* 1 */
    text-transform: none;
}
button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
}
button::-moz-focus-inner, [type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring, [type='button']:-moz-focusring,
[type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type='checkbox'], [type='radio'] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}
[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
/* End Normalize reset */

body {
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p:last-child {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}


/* COLORS */
/* Background color */
.bg-amber {
    background-color: #f0a30a;
    color: #fff;
}
.bg-aqua {
    background-color: #00ffff;
    color: #000;
}
.bg-black {
    background-color: #000;
    color: #fff;
}
.bg-blue {
    background-color: #3e65ff;
    color: #fff;
}
.bg-light-blue {
    background-color: #5AC8FA;
    color: #fff;
}
.bg-dark-blue {
    background-color: #2b5797;
    color: #fff;
}
.bg-blue-gray {
    background-color: #607d8b;
    color: #fff;
}
.bg-brown {
    background-color: #825a2c;
    color: #fff;
}
.bg-cyan {
    background-color: #1ba1e2;
    color: #fff;
}
.bg-gray {
    background-color: #8e8e93;
    color: #fff;
}
.bg-light-gray {
    background-color: #ceced2;
    color: #000;
}
.bg-dark-gray {
    background-color: #616161;
    color: #fff;
}
.bg-green {
    background-color: #00a300;
    color: #fff;
}
.bg-light-green {
    background-color: #8bc34a;
    color: #000;
}
.bg-dark-green {
    background-color: #1e7145;
    color: #fff;
}
.bg-indigo {
    background-color: #6a00ff;
    color: #fff;
}
.bg-khaki {
    background-color: #f0e68c;
    color: #000;
}
.bg-lime {
    background-color: #a4c400;
    color: #fff;
}
.bg-magenta {
    background-color: #ff0097;
    color: #fff;
}
.bg-olive {
    background-color: #6d8764;
    color: #fff;
}
.bg-orange {
    background-color: #e3a21a;
    color: #fff;
}
.bg-deep-orange {
    background-color: #ff5722;
    color: #fff;
}
.bg-pink {
    background-color: #f472d0;
    color: #fff;
}
.bg-purple {
    background-color: #7e3878;
    color: #fff;
}
.bg-light-purple {
    background-color: #9f00a7;
    color: #fff;
}
.bg-deep-purple {
    background-color: #673ab7;
    color: #fff;
}
.bg-red {
    background-color: #ee1111;
    color: #fff;
}
.bg-dark-red {
    background-color: #a20025;
    color: #fff;
}
.bg-sand {
    background-color: #fdf5e6;
    color: #000;
}
.bg-teal {
    background-color: #009688;
    color: #fff;
}
.bg-violet {
    background-color: #aa00ff;
    color: #fff;
}
.bg-white {
    background-color: #fff;
    color: #000;
}
.bg-yellow {
    background-color: #ffc40d;
    color: #fff;
}
.bg-dark {
    background-color: #1d1d1d;
    color: #fff;
}
.bg-light {
    background-color: #efeff4;
    color: #000;
}

/* Text color */
.txt-amber {
    color: #f0a30a;
}
.txt-aqua {
    color: #00ffff;
}
.txt-black {
    color: #000;
}
.txt-blue {
    color: #3e65ff;
}
.txt-light-blue {
    color: #5AC8FA;
}
.txt-dark-blue {
    color: #2b5797;
}
.txt-blue-gray {
    color: #607d8b;
}
.txt-brown {
    color: #825a2c;
}
.txt-cyan {
    color: #1ba1e2;
}
.txt-gray {
    color: #8e8e93;
}
.txt-light-gray {
    color: #ceced2;
}
.txt-dark-gray {
    color: #616161;
}
.txt-green {
    color: #00a300;
}
.txt-light-green {
    color: #8bc34a;
}
.txt-dark-green {
    color: #1e7145;
}
.txt-indigo {
    color: #6a00ff;
}
.txt-khaki {
    color: #f0e68c;
}
.txt-lime {
    color: #a4c400;
}
.txt-magenta {
    color: #ff0097;
}
.txt-olive {
    color: #6d8764;
}
.txt-orange {
    color: #e3a21a;
}
.txt-deep-orange {
    color: #ff5722;
}
.txt-pink {
    color: #f472d0;
}
.txt-purple {
    color: #7e3878;
}
.txt-light-purple {
    color: #9f00a7;
}
.txt-deep-purple {
    color: #673ab7;
}
.txt-red {
    color: #ee1111;
}
.txt-dark-red {
    color: #a20025;
}
.txt-sand {
    color: #fdf5e6;
}
.txt-teal {
    color: #009688;
}
.txt-violet {
    color: #aa00ff;
}
.txt-white {
    color: #fff;
}
.txt-yellow {
    color: #ffc40d;
}
.txt-dark {
    color: #1d1d1d;
}
.txt-light {
    color: #efeff4;
}

/* LAYOUT */
.container, .panel {
    width: 100%;
    padding: 0 1rem;
}
.panel {
    margin: 1rem 0;
}
.container::after, .container::before, .panel::after, .panel::before, .row::after, .row::before, .clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
[class*="col-"] {
    float: left;
    padding: 0 1rem;
    width: 100%;
}

.col-s-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}
.col-s-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.col-s-3 {
    flex: 0 0 auto;
    width: 25%;
}
.col-s-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.col-s-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}
.col-s-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-s-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}
.col-s-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.col-s-9 {
    flex: 0 0 auto;
    width: 75%;
}
.col-s-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}
.col-s-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}
.col-s-12 {
    flex: 0 0 auto;
    width: 100%;
}
.offset-s-0 {
    margin-left: 0;
}
.offset-s-1 {
    margin-left: 8.33333333%;
}
.offset-s-2 {
    margin-left: 16.66666667%;
}
.offset-s-3 {
    margin-left: 25%;
}
.offset-s-4 {
    margin-left: 33.33333333%;
}
.offset-s-5 {
    margin-left: 41.66666667%;
}
.offset-s-6 {
    margin-left: 50%;
}
.offset-s-7 {
    margin-left: 58.33333333%;
}
.offset-s-8 {
    margin-left: 66.66666667%;
}
.offset-s-9 {
    margin-left: 75%;
}
.offset-s-10 {
    margin-left: 83.33333333%;
}
.offset-s-11 {
    margin-left: 91.66666667%;
}
@media (min-width: 768px) {
    .col-m-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-m-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-m-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-m-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-m-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-m-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-m-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-m-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-m-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-m-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-m-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-m-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .offset-m-0 {
        margin-left: 0;
    }
    .offset-m-1 {
        margin-left: 8.33333333%;
    }
    .offset-m-2 {
        margin-left: 16.66666667%;
    }
    .offset-m-3 {
        margin-left: 25%;
    }
    .offset-m-4 {
        margin-left: 33.33333333%;
    }
    .offset-m-5 {
        margin-left: 41.66666667%;
    }
    .offset-m-6 {
        margin-left: 50%;
    }
    .offset-m-7 {
        margin-left: 58.33333333%;
    }
    .offset-m-8 {
        margin-left: 66.66666667%;
    }
    .offset-m-9 {
        margin-left: 75%;
    }
    .offset-m-10 {
        margin-left: 83.33333333%;
    }
    .offset-m-11 {
        margin-left: 91.66666667%;
    }
}
@media (min-width: 1024px) {
    .col-l-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-l-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-l-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-l-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-l-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-l-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-l-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-l-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-l-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-l-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-l-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-l-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .offset-l-0 {
        margin-left: 0;
    }
    .offset-l-1 {
        margin-left: 8.33333333%;
    }
    .offset-l-2 {
        margin-left: 16.66666667%;
    }
    .offset-l-3 {
        margin-left: 25%;
    }
    .offset-l-4 {
        margin-left: 33.33333333%;
    }
    .offset-l-5 {
        margin-left: 41.66666667%;
    }
    .offset-l-6 {
        margin-left: 50%;
    }
    .offset-l-7 {
        margin-left: 58.33333333%;
    }
    .offset-l-8 {
        margin-left: 66.66666667%;
    }
    .offset-l-9 {
        margin-left: 75%;
    }
    .offset-l-10 {
        margin-left: 83.33333333%;
    }
    .offset-l-11 {
        margin-left: 91.66666667%;
    }
}
@media (min-width: 1400px) {
    .col-xl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-xl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .offset-xl-0 {
        margin-left: 0;
    }
    .offset-xl-1 {
        margin-left: 8.33333333%;
    }
    .offset-xl-2 {
        margin-left: 16.66666667%;
    }
    .offset-xl-3 {
        margin-left: 25%;
    }
    .offset-xl-4 {
        margin-left: 33.33333333%;
    }
    .offset-xl-5 {
        margin-left: 41.66666667%;
    }
    .offset-xl-6 {
        margin-left: 50%;
    }
    .offset-xl-7 {
        margin-left: 58.33333333%;
    }
    .offset-xl-8 {
        margin-left: 66.66666667%;
    }
    .offset-xl-9 {
        margin-left: 75%;
    }
    .offset-xl-10 {
        margin-left: 83.33333333%;
    }
    .offset-xl-11 {
        margin-left: 91.66666667%;
    }
}


/* UTILITIES */
/* Borders */
.border {
    border: 1px solid #ccc;
}
.border-top {
    border-top: 1px solid #ccc;
}
.border-left {
    border-left: 1px solid #ccc;
}
.border-bottom {
    border-bottom: 1px solid #ccc;
}
.border-right {
    border-right: 1px solid #ccc;
}

.border-none {
    border: none;
}
.border-solid {
    border-style: solid;
}
.border-dashed {
    border-style: dashed;
}
.border-dotted {
    border-style: dotted;
}
.border-double {
    border-style: double;
}

.border-1 {
    border-width: 1px;
}
.border-2 {
    border-width: 2px;
}
.border-3 {
    border-width: 3px;
}
.border-4 {
    border-width: 4px;
}
.border-5 {
    border-width: 5px;
}

.border-amber {
    border-color: #f0a30a;
}
.border-aqua {
    border-color: #00ffff;
}
.border-black {
    border-color: #000;
}
.border-blue {
    border-color: #3e65ff;
}
.border-light-blue {
    border-color: #5AC8FA;
}
.border-dark-blue {
    border-color: #2b5797;
}
.border-blue-gray {
    border-color: #607d8b;
}
.border-brown {
    border-color: #825a2c;
}
.border-cyan {
    border-color: #1ba1e2;
}
.border-gray {
    border-color: #8e8e93;
}
.border-light-gray {
    border-color: #ceced2;
}
.border-dark-gray {
    border-color: #616161;
}
.border-green {
    border-color: #00a300;
}
.border-light-green {
    border-color: #8bc34a;
}
.border-dark-green {
    border-color: #1e7145;
}
.border-indigo {
    border-color: #6a00ff;
}
.border-khaki {
    border-color: #f0e68c;
}
.border-lime {
    border-color: #a4c400;
}
.border-magenta {
    border-color: #ff0097;
}
.border-olive {
    border-color: #6d8764;
}
.border-orange {
    border-color: #e3a21a;
}
.border-deep-orange {
    border-color: #ff5722;
}
.border-pink {
    border-color: #f472d0;
}
.border-purple {
    border-color: #7e3878;
}
.border-light-purple {
    border-color: #9f00a7;
}
.border-deep-purple {
    border-color: #673ab7;
}
.border-red {
    border-color: #ee1111;
}
.border-dark-red {
    border-color: #a20025;
}
.border-sand {
    border-color: #fdf5e6;
}
.border-teal {
    border-color: #009688;
}
.border-violet {
    border-color: #aa00ff;
}
.border-white {
    border-color: #fff;
}
.border-yellow {
    border-color: #ffc40d;
}
.border-dark {
    border-color: #1d1d1d;
}
.border-light {
    border-color: #efeff4;
}

.rounded {
    border-radius: 0.25rem;
}
.rounded-s {
    border-radius: 0.125rem;
}
.rounded-l {
    border-radius: 0.5rem;
}
.rounded-xl {
    border-radius: 0.75rem;
}
.rounded-2xl {
    border-radius: 1rem;
}
.rounded-circle {
    border-radius: 50%;
}
.rounded-pill {
    border-radius: 50rem;
}

/* COMPONENTS */
/* Buttons */
.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.9;
}
.btn:hover, .btn:focus {
    opacity: 1;
}

.btn-amber {
    background-color: #f0a30a;
    color: #fff;
}
.btn-aqua {
    background-color: #00ffff;
    color: #000;
}
.btn-black {
    background-color: #000;
    color: #fff;
}
.btn-blue {
    background-color: #3e65ff;
    color: #fff;
}
.btn-light-blue {
    background-color: #5AC8FA;
    color: #fff;
}
.btn-dark-blue {
    background-color: #2b5797;
    color: #fff;
}
.btn-blue-gray {
    background-color: #607d8b;
    color: #fff;
}
.btn-brown {
    background-color: #825a2c;
    color: #fff;
}
.btn-cyan {
    background-color: #1ba1e2;
    color: #fff;
}
.btn-gray {
    background-color: #8e8e93;
    color: #fff;
}
.btn-light-gray {
    background-color: #ceced2;
    color: #000;
}
.btn-dark-gray {
    background-color: #616161;
    color: #fff;
}
.btn-green {
    background-color: #00a300;
    color: #fff;
}
.btn-light-green {
    background-color: #8bc34a;
    color: #000;
}
.btn-dark-green {
    background-color: #1e7145;
    color: #fff;
}
.btn-indigo {
    background-color: #6a00ff;
    color: #fff;
}
.btn-khaki {
    background-color: #f0e68c;
    color: #000;
}
.btn-lime {
    background-color: #a4c400;
    color: #fff;
}
.btn-magenta {
    background-color: #ff0097;
    color: #fff;
}
.btn-olive {
    background-color: #6d8764;
    color: #fff;
}
.btn-orange {
    background-color: #e3a21a;
    color: #fff;
}
.btn-deep-orange {
    background-color: #ff5722;
    color: #fff;
}
.btn-pink {
    background-color: #f472d0;
    color: #fff;
}
.btn-purple {
    background-color: #7e3878;
    color: #fff;
}
.btn-light-purple {
    background-color: #9f00a7;
    color: #fff;
}
.btn-deep-purple {
    background-color: #673ab7;
    color: #fff;
}
.btn-red {
    background-color: #ee1111;
    color: #fff;
}
.btn-dark-red {
    background-color: #a20025;
    color: #fff;
}
.btn-sand {
    background-color: #fdf5e6;
    color: #000;
}
.btn-teal {
    background-color: #009688;
    color: #fff;
}
.btn-violet {
    background-color: #aa00ff;
    color: #fff;
}
.btn-white {
    background-color: #fff;
    color: #000;
}
.btn-yellow {
    background-color: #ffc40d;
    color: #fff;
}
.btn-dark {
    background-color: #1d1d1d;
    color: #fff;
}
.btn-light {
    background-color: #efeff4;
    color: #000;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    border-color: inherit;
    opacity: 1;
}
.btn-outline-amber {
    background-color: transparent;
    border: 1px solid #f0a30a;
    color: #f0a30a;
}
.btn-outline-amber:hover {
    background-color: #f0a30a;
    color: #fff;
}
.btn-outline-aqua {
    background-color: transparent;
    border: 1px solid #00ffff;
    color: #00ffff;
}
.btn-outline-aqua:hover {
    background-color: #00ffff;
    color: #000;
}
.btn-outline-black {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
}
.btn-outline-black:hover {
    background-color: #000;
    color: #fff;
}
.btn-outline-blue {
    background-color: transparent;
    border: 1px solid #3e65ff;
    color: #3e65ff;
}
.btn-outline-blue:hover {
    background-color: #3e65ff;
    color: #fff;
}
.btn-outline-light-blue {
    background-color: transparent;
    border: 1px solid #5AC8FA;
    color: #5AC8FA;
}
.btn-outline-light-blue:hover {
    background-color: #5AC8FA;
    color: #fff;
}
.btn-outline-dark-blue {
    background-color: transparent;
    border: 1px solid #2b5797;
    color: #2b5797;
}
.btn-outline-dark-blue:hover {
    background-color: #2b5797;
    color: #fff;
}
.btn-outline-blue-gray {
    background-color: transparent;
    border: 1px solid #607d8b;
    color: #607d8b;
}
.btn-outline-blue-gray:hover {
    background-color: #607d8b;
    color: #fff;
}
.btn-outline-brown {
    background-color: transparent;
    border: 1px solid #825a2c;
    color: #825a2c;
}
.btn-outline-brown:hover {
    background-color: #825a2c;
    color: #fff;
}
.btn-outline-cyan {
    background-color: transparent;
    border: 1px solid #1ba1e2;
    color: #1ba1e2;
}
.btn-outline-cyan:hover {
    background-color: #1ba1e2;
    color: #fff;
}
.btn-outline-gray {
    background-color: transparent;
    border: 1px solid #8e8e93;
    color: #8e8e93;
}
.btn-outline-gray:hover {
    background-color: #8e8e93;
    color: #fff;
}
.btn-outline-light-gray {
    background-color: transparent;
    border: 1px solid #ceced2;
    color: #ceced2;
}
.btn-outline-light-gray:hover {
    background-color: #ceced2;
    color: #000;
}
.btn-outline-dark-gray {
    background-color: transparent;
    border: 1px solid #616161;
    color: #616161;
}
.btn-outline-dark-gray:hover {
    background-color: #616161;
    color: #fff;
}
.btn-outline-green {
    background-color: transparent;
    border: 1px solid #00a300;
    color: #00a300;
}
.btn-outline-green:hover {
    background-color: #00a300;
    color: #fff;
}
.btn-outline-light-green {
    background-color: transparent;
    border: 1px solid #8bc34a;
    color: #8bc34a;
}
.btn-outline-light-green:hover {
    background-color: #8bc34a;
    color: #000;
}
.btn-outline-dark-green {
    background-color: transparent;
    border: 1px solid #1e7145;
    color: #1e7145;
}
.btn-outline-dark-green:hover {
    background-color: #1e7145;
    color: #fff;
}
.btn-outline-indigo {
    background-color: transparent;
    border: 1px solid #6a00ff;
    color: #6a00ff;
}
.btn-outline-indigo:hover {
    background-color: #6a00ff;
    color: #fff;
}
.btn-outline-khaki {
    background-color: transparent;
    border: 1px solid #f0e68c;
    color: #f0e68c;
}
.btn-outline-khaki:hover {
    background-color: #f0e68c;
    color: #000;
}
.btn-outline-lime {
    background-color: transparent;
    border: 1px solid #a4c400;
    color: #a4c400;
}
.btn-outline-lime:hover {
    background-color: #a4c400;
    color: #fff;
}
.btn-outline-magenta {
    background-color: transparent;
    border: 1px solid #ff0097;
    color: #ff0097;
}
.btn-outline-magenta:hover {
    background-color: #ff0097;
    color: #fff;
}
.btn-outline-olive {
    background-color: transparent;
    border: 1px solid #6d8764;
    color: #6d8764;
}
.btn-outline-olive:hover {
    background-color: #6d8764;
    color: #fff;
}
.btn-outline-orange {
    background-color: transparent;
    border: 1px solid #e3a21a;
    color: #e3a21a;
}
.btn-outline-orange:hover {
    background-color: #e3a21a;
    color: #fff;
}
.btn-outline-deep-orange {
    background-color: transparent;
    border: 1px solid #ff5722;
    color: #ff5722;
}
.btn-outline-deep-orange:hover {
    background-color: #ff5722;
    color: #fff;
}
.btn-outline-pink {
    background-color: transparent;
    border: 1px solid #f472d0;
    color: #f472d0;
}
.btn-outline-pink:hover {
    background-color: #f472d0;
    color: #fff;
}
.btn-outline-purple {
    background-color: transparent;
    border: 1px solid #7e3878;
    color: #7e3878;
}
.btn-outline-purple:hover {
    background-color: #7e3878;
    color: #fff;
}
.btn-outline-light-purple {
    background-color: transparent;
    border: 1px solid #9f00a7;
    color: #9f00a7;
}
.btn-outline-light-purple:hover {
    background-color: #9f00a7;
    color: #fff;
}
.btn-outline-deep-purple {
    background-color: transparent;
    border: 1px solid #673ab7;
    color: #673ab7;
}
.btn-outline-deep-purple:hover {
    background-color: #673ab7;
    color: #fff;
}
.btn-outline-red {
    background-color: transparent;
    border: 1px solid #ee1111;
    color: #ee1111;
}
.btn-outline-red:hover {
    background-color: #ee1111;
    color: #fff;
}
.btn-outline-dark-red {
    background-color: transparent;
    border: 1px solid #a20025;
    color: #a20025;
}
.btn-outline-dark-red:hover {
    background-color: #a20025;
    color: #fff;
}
.btn-outline-sand {
    background-color: transparent;
    border: 1px solid #fdf5e6;
    color: #fdf5e6;
}
.btn-outline-sand:hover {
    background-color: #fdf5e6;
    color: #000;
}
.btn-outline-teal {
    background-color: transparent;
    border: 1px solid #009688;
    color: #009688;
}
.btn-outline-teal:hover {
    background-color: #009688;
    color: #fff;
}
.btn-outline-violet {
    background-color: transparent;
    border: 1px solid #aa00ff;
    color: #aa00ff;
}
.btn-outline-violet:hover {
    background-color: #aa00ff;
    color: #fff;
}
.btn-outline-white {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.btn-outline-white:hover {
    background-color: #fff;
    color: #000;
}
.btn-outline-yellow {
    background-color: transparent;
    border: 1px solid #ffc40d;
    color: #ffc40d;
}
.btn-outline-yellow:hover {
    background-color: #ffc40d;
    color: #fff;
}
.btn-outline-dark {
    background-color: transparent;
    border: 1px solid #1d1d1d;
    color: #1d1d1d;
}
.btn-outline-dark:hover {
    background-color: #1d1d1d;
    color: #fff;
}
.btn-outline-light {
    background-color: transparent;
    border: 1px solid #efeff4;
    color: #efeff4;
}
.btn-outline-light:hover {
    background-color: #efeff4;
    color: #000;
}

.btn-facebook {
    background-color: #3b5998;
    color: #fff;
}
.btn-twitter {
    background-color: #00aced;
    color: #fff;
}
.btn-tumblr {
    background-color: #2c4762;
    color: #fff;
}
.btn-pinterest {
    background-color: #cb2027;
    color: #fff;
}
.btn-behance {
    background-color: #1769ff;
    color: #fff;
}
.btn-github {
    background-color: #4183c4;
    color: #fff;
}
.btn-linkedin {
    background-color: #3399CC;
    color: #fff;
}
.btn-dribbble {
    background-color: #EA4C89;
    color: #fff;
}
.btn-instagram {
    background-color: #bc2a8d;
    color: #fff;
}
.btn-flickr {
    background-color: #FF0084;
    color: #fff;
}
.btn-blogger {
    background-color: #F26300;
    color: #fff;
}
.btn-vimeo {
    background-color: #445566;
    color: #fff;
}
.btn-google-plus {
    background-color: #dd4b39;
    color: #fff;
}
.btn-youtube {
    background-color: #cd201f;
    color: #fff;
}

.btn-circle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}
.btn-pill {
    border-radius: 50rem;
}
.btn-fullwidth {
    width: 100%;
}
